/* Font selection */
* {
  font-family: Roboto, Verdna, sans-serif;
  box-sizing: border-box;
}

/* remove ugly pad */
body {
  margin: 0;
}

/* Main flexbox */
.main {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

/* Colors */
.header,
.footer {
  background-color: #1F2937;
}

/* All links in titlebar */
.header a,
.left .subtitle {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

/* title font formatting */
.header .title {
  font-size: 48px;
  font-weight: 900px;
  color: #F9FAF8;
}

/* header spacing */
.titlebar,
.hero {
  display: flex;
  justify-content: space-between;
  margin: 16px 10% auto; 
}

.titlebar {
  margin-bottom: 48px;
}

/* Remove padding around ul */
.header ul {
  margin: 0;
}

/* header text */
.header .logo {
  font-size: 24px;
  color: #F9FAF8;
}

/* flexbox for the links */
.header-links {
  display: flex;
  gap: 16px; 
  /* Remove list-item discs */
  & li {
    list-style-type: none;
  }
}

/* signup button */
.signup-button {
  width: fit-content;
  & button {
    background-color: #3882F6;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 700;
  }
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .title {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    margin: 48px auto;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100dvw;
}

.card {
  display: flex;
  flex-direction: column;
  & img {
    border: 3px solid #3882F6;
    border-radius: 18px;
    width: 250px;
    height: 250px;
  }
  & .text {
    width: 250px;
    text-align: center;
  }
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 48px 10%;
  color: #1F2937;
  & .text {
    font-size: 36px;
    font-weight: 300px;
  }
  & .quote-attrib {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 700;
  }
}

.call {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px;
  padding: 48px;
  border-radius: 8px;
  align-self: center;
  flex-shrink: 0;
  width: 70%;
  background-color: #3882F6;
  color: white;
  & .title {
    font-size: 22px;
    font-weight: 700;
  }
  & .signup-button {
    border: 2px solid white;
    border-radius: 8px;
    align-self: flex-end;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  color:#E5E7EB;
  & .text {
    padding: 32px 0px;
  }
}

/* trans rights are human rights */
.footer:hover {
    background: linear-gradient(
    to bottom,
    #5BCEFA 0%,
    #5BCEFA 20%,
    #F5A9B8 20%,
    #F5A9B8 40%,
    #FFFFFF 40%,
    #FFFFFF 60%,
    #F5A9B8 60%,
    #F5A9B8 80%,
    #5BCEFA 80%,
    #5BCEFA 100%
  );
  color: #1F2937;
}
